# Oversized LTspice waveform result.
# Kept locally, but too large for normal GitHub repository storage.
LTspice_AveragedSwitchModelingSimulation/SyncBuck_switching_CL.raw

# Local/editor noise
Thumbs.db
Desktop.ini
